extends base

block content
    section(id=`main`)
        section(id=`chart`, data-counters=`${counters}`)
        section(id=`data-months`, data-months=`${months}`) 
            if userRole === 'admin'
                div(id=`controls`)
                    a(id=`addNewYear`,value=`` href=`/addnewYear`).btn.btn_add--counters
                        svg.counters__btn--plus
                            use(xlink:href='/img/sprite.svg#icon-plus')
                        span Add new year
                    a(id=`edit_count`,value=``).btn.btn_edit--counters
                        svg.counters__btn--edit
                            use(xlink:href='/img/sprite.svg#icon-edit')
                        span Edit counters
                    a(id=`delete_count`,value=``).btn.btn_delete--counters
                        svg.counters__btn--delete
                            use(xlink:href='/img/sprite.svg#icon-trash')
                        span Delete current year

                hr
                div(id=`years`)
                    each value of years
                        button(id=`${value}`,value=`${value}`).btn.btn--year= `${value}`
                    //- button(id=``,value=`1`).btn.btn--year 2019
                    //- button(id=``,value=`2`).btn.btn--year 2020
                    //- button(id=``,value=`3`).btn.btn--year 2021
    section.modal.hidden
        button.close__modal &times;
        h2 Are you sure want to delete ?
        .control_buttons
            button.control__cancel
                svg.login__icon--cancel
                    use(xlink:href='/img/sprite.svg#icon-arrow-long-left')
                span Cancel
            button.control__delete
                svg.actions__save--save
                    use(xlink:href='/img/sprite.svg#icon-trash')
                span Delete
    section.overlay.hidden        